body{
  background-color: rgb(79, 146, 201);
}
div{
  max-width: 90%;
  background-color: rgb(79, 146, 201);
  margin: 0 auto;
}

div h1 {
  font-size: 30px;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: white;
}

div h2{
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 30px 0 30px;
  color: white;
}

#junk-pics {
  width: 95%;
  height: 270px;
  margin: auto;
  background-color: white;
  border: 8px solid rgb(22, 208, 214);
}

#junk-pics img {
  max-height: 175px;
  width: 18%;
  margin-top: 45px;
  margin-bottom: 35px;
}

#left {
  margin-left: 11.5%;
}

#center {
  margin-left: 11.5%;
}

#right {
  margin-left: 11.5%;
}

#table-header {
  font-size: 20px;
  width: 90%;
  text-align: center;
  padding: 40px 0 0;
  margin: auto;
  color:  rgb(171, 230, 222);
}

div canvas {
  margin: 25px auto;
}

#divTwo {
  text-align: center;
}

div button {
  background-color:rgb(135, 161, 182);
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  width: 18%;
  min-width: 200px;
  margin-top: 20px;
  font-weight:bold;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div button:hover {
  color: black;
  box-shadow: none;
}



div table {
  width: 90%;
  font-size: 20px;
  color: rgb(171, 230, 222);
  padding: 20px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(79, 146, 201);
}
div th {
  font-size: 15px;
  color: rgb(51, 51, 51);
  padding: 5px 3px 0;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

div td {
  font-size: 15px;
  color: rgb(51, 51, 51);
  height: 20px;
  padding: 5px 0 0;
  text-align: center;
  border:1px solid black;
  background-color: white;
}
