body{
  background-color: rgb(79, 146, 201);
}
div{
  max-width: 90%;
  background-color: rgb(79, 146, 201);
  margin: 0 auto;
}

div h1 {
  font-size: 30px;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: white;
}

div h2{
  font-size: 20px;
  width: 90%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: white;
}

#junk-pics {
  width: 90%;
  margin: auto;
  background-color: white;
  border: 8px solid rgb(22, 208, 214);
}

div img {
  height: 200px;
  max-width: 20%;
  margin: 35px 50px 35px 70px;
}

#table-header {
  font-size: 20px;
  width: 90%;
  text-align: center;
  padding: 40px 0 0;
  margin: auto;
  color:  rgb(171, 230, 222);
}

div canvas {
  margin: 25px auto;
}

div button {
  border-radius: 12px;
  padding: 10px;
  font-size: 18px;
  font-weight:bold;
  color: white;
  margin: 20px 0px 20px 42%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div button:hover {
  color: black;
  box-shadow: none;
}



div table {
  width: 90%;
  font-size: 20px;
  color: rgb(171, 230, 222);
  padding: 20px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(79, 146, 201);
}
div th {
  font-size: 15px;
  color: rgb(51, 51, 51);
  padding: 5px 3px 0;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

div td {
  font-size: 15px;
  color: rgb(51, 51, 51);
  height: 20px;
  padding: 5px 0 0;
  text-align: center;
  border:1px solid black;
  background-color: white;
}
